flows.json
[{"id":"4eef3dbc.ec10c4","type":"tab","label":"IOT Project","disabled":false,"info":""},{"id":"5ac64dab.6ee594","type":"tab","label":"IOT Project - Stats","disabled":false,"info":""},{"id":"21c73277.d0701e","type":"mqtt-broker","z":"","name":"mosquito","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f9c2ac3.c5d5a8","type":"Generic BLE","z":"","localName":"david","address":"aa","uuid":"1","characteristics":[]},{"id":"42def78b.7458e8","type":"mqtt-broker","z":"","name":"aedes","broker":"127.0.0.1","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5221f2e6.92564c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"nodebls","tz":""},{"id":"ac9f4bd0.609278","type":"ui_group","z":"","name":"Controller","tab":"c999e4f9.391458","order":1,"disp":true,"width":"6","collapse":false},{"id":"20518bbc.f5fae4","type":"ui_tab","z":"","name":"Real Time Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"4405c6a2.821a08","type":"ui_group","z":"","name":"test","tab":"bc59dd33.a0f6d","order":3,"disp":true,"width":"7","collapse":true},{"id":"bc59dd33.a0f6d","type":"ui_tab","z":"","name":"test","icon":"fa-television","order":2},{"id":"bd84af57.78e3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ab72b42.50bef4","type":"ui_group","z":"","name":"Total","tab":"20518bbc.f5fae4","order":2,"disp":true,"width":"6","collapse":false},{"id":"c999e4f9.391458","type":"ui_tab","z":"","name":"Statistical Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a69573c.e7d338","type":"ui_tab","z":"","name":"Overcrowd counter","icon":"dashboard","disabled":false,"hidden":false},{"id":"eb7032fa.7e073","type":"ui_group","z":"","name":"Data of all time","tab":"c999e4f9.391458","order":2,"disp":true,"width":"6","collapse":false},{"id":"47a91704.3d9848","type":"ui_group","z":"","name":"Calendar","tab":"c999e4f9.391458","order":2,"disp":true,"width":"6","collapse":false},{"id":"9cf4d280.7bd73","type":"ui_group","z":"","name":"Default","tab":"20518bbc.f5fae4","order":2,"disp":true,"width":"6","collapse":false},{"id":"62d554d.14004ac","type":"ui_group","z":"","name":"Daily data","tab":"c999e4f9.391458","order":4,"disp":true,"width":"6","collapse":false},{"id":"a65d0ae8.e0bb68","type":"ui_group","z":"","name":"Chart","tab":"20518bbc.f5fae4","order":3,"disp":true,"width":"6","collapse":false},{"id":"fcb2d9c4.1f5968","type":"mqtt in","z":"4eef3dbc.ec10c4","name":"","topic":"davidaffo/bedroom/enter","qos":"2","datatype":"auto","broker":"42def78b.7458e8","x":130,"y":220,"wires":[["883b7ddd.2ed83"]]},{"id":"71e46810.19b158","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 1 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"e65d66d9-e484-4275-b217-75b3ba56cfd5\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":180,"wires":[["883b7ddd.2ed83"]]},{"id":"883b7ddd.2ed83","type":"json","z":"4eef3dbc.ec10c4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":160,"wires":[["7f2cca13.f91d34","2c0b19e1.fabd76"]]},{"id":"f2fc54f3.d2dd28","type":"json","z":"4eef3dbc.ec10c4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":340,"wires":[["f06c16da.ff4d48","a8f0250a.2bc4e8"]]},{"id":"c0da7a04.992808","type":"json","z":"4eef3dbc.ec10c4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":520,"wires":[["5e833f8a.c91c6","f1f7e47d.4be148"]]},{"id":"737f90be.e79bc","type":"json","z":"4eef3dbc.ec10c4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":700,"wires":[["e4994695.07d7f8","43119736.2ec3c8"]]},{"id":"53dd5f27.eb992","type":"mysql","z":"4eef3dbc.ec10c4","mydb":"5221f2e6.92564c","name":"","x":2060,"y":420,"wires":[[]]},{"id":"ea2c275a.cc2828","type":"aedes broker","z":"4eef3dbc.ec10c4","name":"","mqtt_port":"1884","mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":110,"y":40,"wires":[[]]},{"id":"56cf5fb7.76ff6","type":"mqtt in","z":"4eef3dbc.ec10c4","name":"","topic":"davidaffo/bedroom/exit","qos":"2","datatype":"auto","broker":"42def78b.7458e8","x":140,"y":400,"wires":[["f2fc54f3.d2dd28"]]},{"id":"b962529d.dc9ee","type":"mqtt in","z":"4eef3dbc.ec10c4","name":"","topic":"davidaffo/gate/enter","qos":"2","datatype":"auto","broker":"42def78b.7458e8","x":150,"y":580,"wires":[["c0da7a04.992808"]]},{"id":"25342396.0d7e5c","type":"mqtt in","z":"4eef3dbc.ec10c4","name":"","topic":"davidaffo/gate/exit","qos":"2","datatype":"auto","broker":"42def78b.7458e8","x":150,"y":760,"wires":[["737f90be.e79bc"]]},{"id":"7f2cca13.f91d34","type":"function","z":"4eef3dbc.ec10c4","name":"add room and inout","func":"msg.payload[\"room\"]=\"bedroom\";\nmsg.payload[\"inout\"]=\"enter\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[["8e87520d.a17d"]]},{"id":"8e87520d.a17d","type":"function","z":"4eef3dbc.ec10c4","name":"create query","func":"msg.topic=\"insert into Access (`inout`, uuid, room) values ('\"+msg.payload['inout']+\"','\"+msg.payload['uuid']+\"','\"+msg.payload['room']+\"');\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":420,"wires":[["53dd5f27.eb992"]]},{"id":"c506391a.d0a838","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 2 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"3716bd1e-bc07-4ee4-9b36-0106615da52d\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":140,"wires":[["883b7ddd.2ed83"]]},{"id":"668fcad9.7c9ff4","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 1 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"e65d66d9-e484-4275-b217-75b3ba56cfd5\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":360,"wires":[["f2fc54f3.d2dd28"]]},{"id":"626d6ea6.c1619","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 2 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"3716bd1e-bc07-4ee4-9b36-0106615da52d\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":320,"wires":[["f2fc54f3.d2dd28"]]},{"id":"f307074e.fc7468","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 1 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"e65d66d9-e484-4275-b217-75b3ba56cfd5\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":540,"wires":[["c0da7a04.992808"]]},{"id":"ca0d781e.65b988","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 2 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"3716bd1e-bc07-4ee4-9b36-0106615da52d\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":500,"wires":[["c0da7a04.992808"]]},{"id":"69fca7b3.475778","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 1 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"e65d66d9-e484-4275-b217-75b3ba56cfd5\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":720,"wires":[["737f90be.e79bc"]]},{"id":"5eb7187a.442908","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 2 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"3716bd1e-bc07-4ee4-9b36-0106615da52d\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":680,"wires":[["737f90be.e79bc"]]},{"id":"f06c16da.ff4d48","type":"function","z":"4eef3dbc.ec10c4","name":"add room and inout","func":"msg.payload[\"room\"]=\"bedroom\";\nmsg.payload[\"inout\"]=\"exit\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[["8e87520d.a17d"]]},{"id":"5e833f8a.c91c6","type":"function","z":"4eef3dbc.ec10c4","name":"add room and inout","func":"msg.payload[\"room\"]=\"gate\";\nmsg.payload[\"inout\"]=\"enter\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":520,"wires":[["8e87520d.a17d"]]},{"id":"e4994695.07d7f8","type":"function","z":"4eef3dbc.ec10c4","name":"add room and inout","func":"msg.payload[\"room\"]=\"gate\";\nmsg.payload[\"inout\"]=\"exit\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":700,"wires":[["8e87520d.a17d"]]},{"id":"92143bd2.22aa58","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 3 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"704a4dc2-9aea-412b-829a-75a420bef4c9\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":100,"wires":[["883b7ddd.2ed83"]]},{"id":"1a85d8b4.3f3cb7","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 3 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"704a4dc2-9aea-412b-829a-75a420bef4c9\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":640,"wires":[["737f90be.e79bc"]]},{"id":"d64a7e22.3346d","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 3 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"704a4dc2-9aea-412b-829a-75a420bef4c9\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":460,"wires":[["c0da7a04.992808"]]},{"id":"d8975628.d89678","type":"inject","z":"4eef3dbc.ec10c4","name":"fake employee 3 payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"704a4dc2-9aea-412b-829a-75a420bef4c9\",\"major\":\"400\",\"minor\":\"1\"}","payloadType":"str","x":130,"y":280,"wires":[["f2fc54f3.d2dd28"]]},{"id":"3f92ef25.d73e6","type":"ui_text","z":"4eef3dbc.ec10c4","group":"5ab72b42.50bef4","order":0,"width":0,"height":0,"name":"","label":"People inside bedroom:","format":"{{msg.payload['list'].length+\"/\"+msg.payload['limit']}}","layout":"row-spread","x":1270,"y":280,"wires":[]},{"id":"879cb748.2bba08","type":"comment","z":"4eef3dbc.ec10c4","name":"Employee 1 is the real beacon","info":"Employee 1 is the real beacon","x":360,"y":40,"wires":[]},{"id":"2c0b19e1.fabd76","type":"function","z":"4eef3dbc.ec10c4","name":"add uuid to room list","func":"var bedroomList=flow.get('bedroomList');\nif (typeof bedroomList==\"undefined\")\n    bedroomList=[];\nvar uuid = msg.payload['uuid'];\nbedroomList.indexOf(uuid) === -1 ? bedroomList.push(uuid) : console.log(\"This item already exists\");\nflow.set('bedroomList',bedroomList);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":120,"wires":[["6b8d73b9.6e898c"]]},{"id":"3527c9a4.af3756","type":"inject","z":"4eef3dbc.ec10c4","name":"Reset","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":810,"y":40,"wires":[["2600a464.ce685c","e86d392c.6562c8","774d94bc.c85b5c","42add195.85555","3d110446.8f3bbc"]]},{"id":"2600a464.ce685c","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"delete","p":"bedroomList","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":40,"wires":[[]]},{"id":"6b8d73b9.6e898c","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"payload['list']","pt":"msg","to":"bedroomList","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":120,"wires":[["42add195.85555","fcf570cf.9cf54"]]},{"id":"a8f0250a.2bc4e8","type":"function","z":"4eef3dbc.ec10c4","name":"remove uuid from room list","func":"var bedroomList=flow.get('bedroomList');\nif (typeof bedroomList==\"undefined\" || bedroomList==[])\nreturn;\nconst index = bedroomList.indexOf(msg.payload['uuid']);\nif (index > -1) {\n  bedroomList.splice(index, 1);\n}\nflow.set('bedroomList',bedroomList);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":300,"wires":[["c8a3569a.aa1748"]]},{"id":"c8a3569a.aa1748","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"payload['list']","pt":"msg","to":"bedroomList","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["fcf570cf.9cf54","42add195.85555"]]},{"id":"f1f7e47d.4be148","type":"function","z":"4eef3dbc.ec10c4","name":"add uuid to room list","func":"var gateList=flow.get('gateList');\nif (typeof gateList==\"undefined\")\n    gateList=[];\nvar uuid = msg.payload['uuid'];\ngateList.indexOf(uuid) === -1 ? gateList.push(uuid) : console.log(\"This item already exists\");\nflow.set('gateList',gateList);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["d9b839d0.11cc18"]]},{"id":"d9b839d0.11cc18","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"payload['list']","pt":"msg","to":"gateList","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":480,"wires":[["3d110446.8f3bbc","fcf570cf.9cf54"]]},{"id":"43119736.2ec3c8","type":"function","z":"4eef3dbc.ec10c4","name":"remove uuid from room list","func":"var gateList=flow.get('gateList');\nif (typeof gateList==\"undefined\" || gateList==[])\nreturn;\nconst index = gateList.indexOf(msg.payload['uuid']);\nif (index > -1) {\n  gateList.splice(index, 1);\n}\nflow.set('gateList',gateList);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":660,"wires":[["deb4905c.6fd9"]]},{"id":"deb4905c.6fd9","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"payload['list']","pt":"msg","to":"gateList","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":660,"wires":[["fcf570cf.9cf54","3d110446.8f3bbc"]]},{"id":"8be3fa67.9f8c28","type":"ui_text","z":"4eef3dbc.ec10c4","group":"5ab72b42.50bef4","order":0,"width":0,"height":0,"name":"","label":"People inside gate:","format":"{{msg.payload['list'].length+\"/\"+msg.payload['limit']}}","layout":"row-spread","x":1250,"y":640,"wires":[]},{"id":"e86d392c.6562c8","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"delete","p":"gateList","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":80,"wires":[[]]},{"id":"fcf570cf.9cf54","type":"function","z":"4eef3dbc.ec10c4","name":"","func":"var bedroom = flow.get(\"bedroomList\");\nvar gate = flow.get(\"gateList\");\nvar bedroomLength = 0;\nvar gateLength = 0;\n\nif(typeof bedroom != 'undefined')\n    bedroomLength = bedroom.length;\nif(typeof gate != 'undefined')\n    gateLength = gate.length;\n    \nmsg.payload=bedroomLength+gateLength;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":400,"wires":[["774d94bc.c85b5c"]]},{"id":"774d94bc.c85b5c","type":"ui_text","z":"4eef3dbc.ec10c4","group":"5ab72b42.50bef4","order":0,"width":0,"height":0,"name":"","label":"Total people inside the facility:","format":"{{msg.payload}}","layout":"row-spread","x":1330,"y":360,"wires":[]},{"id":"8a802f6.a91a0d","type":"inject","z":"4eef3dbc.ec10c4","name":"Setup thresholds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":40,"wires":[["8d2ac336.5464b","e8c7469b.fa2d68"]]},{"id":"8d2ac336.5464b","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"bedroomLimit","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":20,"wires":[[]]},{"id":"e8c7469b.fa2d68","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"gateLimit","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":60,"wires":[[]]},{"id":"42add195.85555","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"payload['limit']","pt":"msg","to":"bedroomLimit","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[["3f92ef25.d73e6","20cbd06c.cfb78","40800aed.e24024"]]},{"id":"3d110446.8f3bbc","type":"change","z":"4eef3dbc.ec10c4","name":"","rules":[{"t":"set","p":"payload['limit']","pt":"msg","to":"gateLimit","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":580,"wires":[["8be3fa67.9f8c28","9628eea2.a35da","8756e3f.06f092"]]},{"id":"adc54438.a5a638","type":"function","z":"4eef3dbc.ec10c4","name":"Send alarm","func":"msg.payload = \"Attention! Bedroom is beyond safety capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":120,"wires":[["d7eb95a0.368ef8","ddbd4b30.688a18"]]},{"id":"20cbd06c.cfb78","type":"switch","z":"4eef3dbc.ec10c4","name":"","property":"payload['list'].length","propertyType":"msg","rules":[{"t":"gt","v":"payload['limit']","vt":"msg"},{"t":"lte","v":"payload['limit']","vt":"msg"},{"t":"eq","v":"payload['limit']","vt":"msg"}],"checkall":"true","repair":false,"outputs":3,"x":1210,"y":160,"wires":[["adc54438.a5a638"],["8c88f310.51483"],["ac8a88f6.913448"]]},{"id":"d7eb95a0.368ef8","type":"mqtt out","z":"4eef3dbc.ec10c4","name":"","topic":"davidaffo/bedroom/alarm","qos":"","retain":"","broker":"42def78b.7458e8","x":1710,"y":160,"wires":[]},{"id":"8c88f310.51483","type":"function","z":"4eef3dbc.ec10c4","name":"Send safety restored","func":"msg.payload = \"Bedroom is accessible!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":160,"wires":[["d7eb95a0.368ef8"]]},{"id":"1d160c9d.e10803","type":"function","z":"4eef3dbc.ec10c4","name":"Send alarm","func":"msg.payload = \"Attention! Gate is beyond safety capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":480,"wires":[["1c29716.f69e88f","f763dd3a.85cc"]]},{"id":"9628eea2.a35da","type":"switch","z":"4eef3dbc.ec10c4","name":"","property":"payload['list'].length","propertyType":"msg","rules":[{"t":"gt","v":"payload['limit']","vt":"msg"},{"t":"lte","v":"payload['limit']","vt":"msg"},{"t":"eq","v":"payload['limit']","vt":"msg"}],"checkall":"true","repair":false,"outputs":3,"x":1210,"y":520,"wires":[["1d160c9d.e10803"],["7ebb03d3.23a81c"],["27a4d775.c03808"]]},{"id":"1c29716.f69e88f","type":"mqtt out","z":"4eef3dbc.ec10c4","name":"","topic":"davidaffo/gate/alarm","qos":"","retain":"","broker":"42def78b.7458e8","x":1700,"y":520,"wires":[]},{"id":"7ebb03d3.23a81c","type":"function","z":"4eef3dbc.ec10c4","name":"Send safety restored","func":"msg.payload = \"Gate is accessible!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":520,"wires":[["1c29716.f69e88f"]]},{"id":"ac8a88f6.913448","type":"function","z":"4eef3dbc.ec10c4","name":"Send warning","func":"msg.payload = \"Warning, bedroom at maximum capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":200,"wires":[["d7eb95a0.368ef8"]]},{"id":"27a4d775.c03808","type":"function","z":"4eef3dbc.ec10c4","name":"Send warning","func":"msg.payload = \"Warning, gate at maximum capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":560,"wires":[["1c29716.f69e88f"]]},{"id":"ddbd4b30.688a18","type":"function","z":"4eef3dbc.ec10c4","name":"create query","func":"msg.topic=\"insert into Alarms (room) values ('bedroom');\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":120,"wires":[["53dd5f27.eb992"]]},{"id":"f763dd3a.85cc","type":"function","z":"4eef3dbc.ec10c4","name":"create query","func":"msg.topic=\"insert into Alarms (room) values ('gate');\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":480,"wires":[["53dd5f27.eb992"]]},{"id":"fb9a774f.d88e28","type":"mysql","z":"5ac64dab.6ee594","mydb":"5221f2e6.92564c","name":"","x":580,"y":140,"wires":[["d793eb14.b1e248"]]},{"id":"d793eb14.b1e248","type":"ui_text","z":"5ac64dab.6ee594","group":"eb7032fa.7e073","order":1,"width":0,"height":0,"name":"","label":"Bedroom overcrowd counter (total):","format":"{{msg.payload[0][\"count (*)\"]}}","layout":"row-spread","x":820,"y":140,"wires":[]},{"id":"5ae03a44.3f6684","type":"ui_button","z":"5ac64dab.6ee594","name":"","group":"eb7032fa.7e073","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["3ab00871.83f548","12eecaa1.929885"]]},{"id":"3ab00871.83f548","type":"function","z":"5ac64dab.6ee594","name":"overcrowded bedroom counter","func":"msg.topic = \"select count (*) from Alarms where room='bedroom'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":140,"wires":[["fb9a774f.d88e28"]]},{"id":"ecabc5f3.ee0b58","type":"inject","z":"5ac64dab.6ee594","name":"Debug refresh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":460,"wires":[[]]},{"id":"efae9f92.11921","type":"mysql","z":"5ac64dab.6ee594","mydb":"5221f2e6.92564c","name":"","x":580,"y":200,"wires":[["ad12b7ee.715bf8"]]},{"id":"ad12b7ee.715bf8","type":"ui_text","z":"5ac64dab.6ee594","group":"eb7032fa.7e073","order":1,"width":0,"height":0,"name":"","label":"Gate overcrowd counter (total):","format":"{{msg.payload[0][\"count (*)\"]}}","layout":"row-spread","x":810,"y":200,"wires":[]},{"id":"12eecaa1.929885","type":"function","z":"5ac64dab.6ee594","name":"overcrowded gate counter","func":"msg.topic = \"select count (*) from Alarms where room='gate'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["efae9f92.11921"]]},{"id":"cbd50a50.ce9ce8","type":"ui_date_picker","z":"5ac64dab.6ee594","name":"","label":"Select day","group":"62d554d.14004ac","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":600,"wires":[["10ff04e0.c3914b"]]},{"id":"10ff04e0.c3914b","type":"moment","z":"5ac64dab.6ee594","name":"Convert to MySQL Date Format","topic":"","input":"","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"en_US","output":"min","outputType":"msg","outTz":"Europe/Rome","x":330,"y":600,"wires":[["77a099f4.158f38"]]},{"id":"77a099f4.158f38","type":"moment","z":"5ac64dab.6ee594","name":"Add 1 day to get max value","topic":"","input":"min","inputType":"msg","inTz":"Europe/Rome","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"en_US","output":"max","outputType":"msg","outTz":"Europe/Rome","x":620,"y":600,"wires":[["f29490d0.fa503","2d855898.d8d898","396f4ae2.7cfcb6","408fcf4b.1365b"]]},{"id":"f29490d0.fa503","type":"function","z":"5ac64dab.6ee594","name":"Get access count of day bedroom","func":"msg.topic = \"select count(*) from Access where timestamp >= '\"+msg.min+\"' and timestamp < '\"+msg.max+\"' and room='bedroom' and `inout`='enter';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":540,"wires":[["6ad8d7ee.b84828"]]},{"id":"6ad8d7ee.b84828","type":"mysql","z":"5ac64dab.6ee594","mydb":"5221f2e6.92564c","name":"","x":1140,"y":540,"wires":[["cd04c450.2425d8"]]},{"id":"2d855898.d8d898","type":"function","z":"5ac64dab.6ee594","name":"Get access count of day gate","func":"msg.topic = \"select count(*) from Access where timestamp >= '\"+msg.min+\"' and timestamp < '\"+msg.max+\"' and room='gate' and `inout`='enter';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":660,"wires":[["8e33b05f.a8724"]]},{"id":"8e33b05f.a8724","type":"mysql","z":"5ac64dab.6ee594","mydb":"5221f2e6.92564c","name":"","x":1140,"y":660,"wires":[["5fd017df.eb7458"]]},{"id":"82e183a6.47329","type":"ui_chart","z":"4eef3dbc.ec10c4","name":"","group":"a65d0ae8.e0bb68","order":0,"width":"0","height":"0","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#e8546b","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1730,"y":320,"wires":[[]]},{"id":"40800aed.e24024","type":"function","z":"4eef3dbc.ec10c4","name":"","func":"msg.payload = msg.payload['list'].length\nmsg.topic = \"bedroom\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":280,"wires":[["82e183a6.47329"]]},{"id":"8756e3f.06f092","type":"function","z":"4eef3dbc.ec10c4","name":"","func":"msg.payload = msg.payload['list'].length\nmsg.topic = \"gate\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":360,"wires":[["82e183a6.47329"]]},{"id":"cd04c450.2425d8","type":"ui_text","z":"5ac64dab.6ee594","group":"62d554d.14004ac","order":1,"width":0,"height":0,"name":"","label":"Bedroom access:","format":"{{msg.payload[0][\"count(*)\"]}}","layout":"row-spread","x":1310,"y":540,"wires":[]},{"id":"5fd017df.eb7458","type":"ui_text","z":"5ac64dab.6ee594","group":"62d554d.14004ac","order":1,"width":0,"height":0,"name":"","label":"Gate access:","format":"{{msg.payload[0][\"count(*)\"]}}","layout":"row-spread","x":1290,"y":660,"wires":[]},{"id":"495d1723.5a8fb8","type":"ui_button","z":"4eef3dbc.ec10c4","name":"","group":"a65d0ae8.e0bb68","order":1,"width":0,"height":0,"passthru":false,"label":"Clean chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1570,"y":320,"wires":[["82e183a6.47329"]]},{"id":"f1238615.712378","type":"mysql","z":"5ac64dab.6ee594","mydb":"5221f2e6.92564c","name":"","x":1120,"y":400,"wires":[["64dc41dc.0e111"]]},{"id":"408fcf4b.1365b","type":"function","z":"5ac64dab.6ee594","name":"overcrowded bedroom counter","func":"msg.topic = \"select count(*) from Alarms where timestamp >= '\"+msg.min+\"' and timestamp < '\"+msg.max+\"' and room='bedroom';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":400,"wires":[["f1238615.712378"]]},{"id":"93b9772.25d2388","type":"mysql","z":"5ac64dab.6ee594","mydb":"5221f2e6.92564c","name":"","x":1120,"y":460,"wires":[["d3e4a433.595e88"]]},{"id":"396f4ae2.7cfcb6","type":"function","z":"5ac64dab.6ee594","name":"overcrowded gate counter","func":"msg.topic = \"select count(*) from Alarms where timestamp >= '\"+msg.min+\"' and timestamp < '\"+msg.max+\"' and room='gate';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":460,"wires":[["93b9772.25d2388"]]},{"id":"64dc41dc.0e111","type":"ui_text","z":"5ac64dab.6ee594","group":"62d554d.14004ac","order":1,"width":0,"height":0,"name":"","label":"Bedroom overcrowd counter:","format":"{{msg.payload[0][\"count(*)\"]}}","layout":"row-spread","x":1340,"y":400,"wires":[]},{"id":"d3e4a433.595e88","type":"ui_text","z":"5ac64dab.6ee594","group":"62d554d.14004ac","order":1,"width":0,"height":0,"name":"","label":"Gate overcrowd counter:","format":"{{msg.payload[0][\"count(*)\"]}}","layout":"row-spread","x":1330,"y":460,"wires":[]}]